* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.685);
    color: aliceblue;
    /* height: 100vh; */
    box-sizing: border-box;
}

.main {
    padding: 10;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 10% 15%;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.text {
    font-size: 20px;
}
strong {
    color: aqua;
}

.links {
    display: flex;
    padding-right: 5%;
    justify-content: space-evenly;
}

.rede {
    background-color: aquamarine;
    border: solid 20px;
    border-color: aquamarine;
    border-radius: 10px;
}

.test {
    display: flex;

}